.file-main {
    width: 100%;
    padding: 8px;
    font-family: sans-serif !important;
    font-size: 14px !important;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.file-main .MuiCheckbox-root {
    padding-right: 14px;
}

.file-details {
    display: flex;
    align-items: center;
}

.icon-button {
    color: #007BFF;
    transition: transform 0.2s;
}

.icon-button:hover {
    transform: scale(1.1);
}

.download-icon {
    color: #4CAF50;
}

.preview-icon {
    color: #2196F3;
}

.image-preview {
    font-weight: 600 !important;
    font-family: sans-serif !important;
}

.close-icon > svg {
    color: darkgray;
}

.cancel-button, .enlarge-button {
    border-radius: 4px !important;
    margin: 0 5px 0 0 !important;
    font-family: inherit !important;
    color: #12809a !important;
    cursor: pointer !important;
    border: 1px solid darkgray !important;
    padding: 8px 20px !important;
}

.enlarge-button {
    margin: 0 24px 0 0 !important;
    color: #fff !important;
    background-color: #12809a !important;
    border: 1px solid #12809a !important;
}
